@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  hmtl,
  body {
    font-family: 'Source Sans 3';
  }
}

.journals-move,
.journals-enter-active,
.journals-leave-active {
  transition: all 0.5s ease;
}

.journals-enter-from,
.journals-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.journals-leave-active {
  position: absolute;
}

.ql-image {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.error-message {
  @apply text-red-500 text-base;
}
